<html>
<head>
<meta charset="UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/style.css">
<title>Game Review Login</title>
</head>
<body>
<div id="loginbox"><h2 id="loginhead">Login</h2>
<form>
<label for="userid">User Id: <input type="email" id="userid">
</label><br>
<label for="password">Password: </label><input type="password" id="password"><br><br>
<input type="submit" value="Login">
<hr>
<h2>Or:</h2>
<img id='googleimg' src="../images/google loginbutton.png">
</form>
</div>
</body>
</html>